:root {
  font-family: "Montserrat4";
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(
    to right,
    #ffffff 0%,
    #ededed 50%,
    #ffffff 100%
  );
  
}


/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat4';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/montserrat-v30-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat9';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/montserrat-v30-latin-900.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* fira-code-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code4';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/fira-code-v26-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* fira-code-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Fira Code9';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/fira-code-v26-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

a {
  font-weight: 700;
  text-decoration: inherit;
  cursor: pointer;
}

a:hover {
  scale: 1.1;
}

h1,h2,h3,h4{
  font-family: 'Fira Code9';
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  color: #0A2938;
}



h2{
  font-size: 1.8em;
}

button {
  border-radius: 8px;
  font-family: 'Fira Code9' !important;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.875em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.buttonMenu{
  width: 100%;
}

.card {
  padding-top: 1.2em;
  background-color: rgba(250, 228, 206, 0.66);
  border-radius: 5px;
  margin-top: 2em;
  margin-bottom: 2em;
}

.card p{
  margin: 16px;
}

.card img {
  border-radius: 0px 0px 5px 5px;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.titre{
    font-family: 'Fira Code9';
}

footer{
  background-color: #2C2C2C;
  padding: 8px;
  }

footer a, footer h3 {
  color: #EDEDED;
  line-height: 1.1;
}

/* Media query pour écrans ≤ 800px */
@media (max-width: 800px) {
  button {
    padding: 10px 20px; /* réduire un peu le padding */
    font-size: 16px;    /* texte plus petit */
   
  }
}

